
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
main, header{
    margin:0 auto 2em auto;
}


@media (max-width: 550px) {
img{
    width: 100%;
}
    
   nav{
    display:flex;
    justify-content: space-between;
    padding:1.5em 1em;
    height: 100px;

}
.nav-prop{
    width:10vw;
}


.paw{
    width:25vw;
}  

.profile:hover{
      cursor: pointer;
}

.name-age{
    font-size: 2rem;
    font-weight: 400;
    color:#F8F8F8;
}

.bio{ 
    font-size:1rem;
    color:#B7B7B7;
    margin-bottom: 0.5em;
}
 
 .dog{
     height: 80vh;
     display:flex;
     border-radius: 15px;
    margin:0.5em ;
    padding: 1em;
      position: relative;
 }

.dog-bio{
align-self: flex-end;
}
.dog-badge{
position: absolute;
top:0;
left:0;
right:275;
height: 100px;
width: 200px;
rotate: -30deg;
margin: 2.5em 0 0 0.5em;
}


button{
    background-color: white;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 10px 20px #E9E9EA;
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.button-cont{
display: flex;
justify-content: center;
margin:1.5em 0;
}

.react{
    height:40px;
    width: 40px;
}

.nope{
margin-right: 1.5em;
}

button,
button:active,
button:focus {
  outline: none;
}

.nope:hover{
    background: #FFE7EF;
}

.like:hover{
    background: #DBFFF4;
}
    
h3,
p{
    margin:0;
}
}
